body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: grey;
}

.header-content {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.header-text {
    color: #ffffff;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background: #1e1e1e;
}

.dark-mode footer {
    background: #1e1e1e;
}

.dark-mode nav ul li a {
    color: #ffffff;
}
.dark-mode .table {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
}

.dark-mode .table tbody tr:nth-of-type(even) {
    background-color: #2a2a2a;
}

.dark-mode .table tbody tr:hover {
    background-color: #333333;
}

.dark-mode .table thead tr {
    background-color: #444;
    color: #ffffff;
}

/* Scroll-to-Top Button */
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scroll-to-top:hover {
    background-color: #333;
}
/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f3f3f3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.table th, .table td {
    padding: 12px 15px;
    background-color: transparent;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
